.estate-agents-fee-container {
    margin: 20px 30px;
    display: flex;
    justify-content: center;
}

.estate-agents-fee-container input {
    margin-left: 20px;
    text-align: center;
}
.estate-agents-fee-container label{
    font-size: 22px;
    font-weight: bold;
}